body {
    background-color: #f8f9fa;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-text {
    font-weight: bold;
    margin-right: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 1px solid #dee2e6;
    margin-bottom: -1px;
}

.list-group-item:nth-child(odd) {
    background-color: #f8f9fa;
}

.list-group-item:nth-child(even) {
    background-color: #e9ecef;
}